.badgesList {
    background-color: #ffffff;
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #000000;
}

h1 {
    color: #000000;
    font-size: large;
}

body {
    background-image: url("/images/background.jpg");
}