<!DOCTYPE html>
<html>
    <head>
        <title>Badges IO - List Badges</title>
        <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/badgesList.css" />
    </head>
    <body>
        <h1 align="center">Badges List</h1>

            <div class="alert alert-danger col-md-6 divCenter" align="center">
                <strong>Ooops! It has been an error! </strong> <br/>
                <strong> {{ webErrorMessage }} </strong> <br/>
                Details: {{ exceptionMessage }}
            </div>

    </body>
</html>